/dev/ext
/export
/dev/src/build
/dev/src/pkg-install
*.aps
/dev/src/.vs
*.tlog
*.log
*.obj
*.user
dev/src/unix/exportrights/Debug
dev/src/unix/exportrights/Release
dev/src/unix/exportrights/exportrights.dir
dev/src/unix/exportrights/build
dev/src/unix/loadbireports/Debug
dev/src/unix/loadbireports/Release
dev/src/unix/loadbireports/loadbireports.dir
dev/src/unix/loadbireports/build
dev/src/unix/onlineserver/Debug
dev/src/unix/onlineserver/Release
dev/src/unix/onlineserver/libuadmonlsrv.dir
dev/src/unix/onlineserver/build
dev/src/win/business/Debug
dev/src/win/business/Release
dev/src/win/business/libbusiness.dir
dev/src/win/common/Debug
dev/src/win/common/Release
dev/src/win/common/libcommon.dir
dev/src/win/constants/Debug
dev/src/win/constants/Release
dev/src/win/constants/libconstants.dir
dev/src/win/libappuadm/2010
dev/src/win/libappuadm/2010/Debug
dev/src/win/libappuadm/2010/Release
dev/src/win/libappuadm/2015
dev/src/win/libappuadm/2015/Debug
dev/src/win/libappuadm/2015/Release
dev/src/win/libappuadm/2019
dev/src/win/libappuadm/2019/Debug
dev/src/win/libappuadm/2019/Release
dev/src/win/libappuadm/2019_shared
dev/src/win/libappuadm/2019_shared/Debug
dev/src/win/libappuadm/2019_shared/Release
dev/src/win/libiamuadm/Debug
dev/src/win/libiamuadm/Release
dev/src/win/libiamuadm/libiamuadm.dir
dev/src/win/presentation/Debug
dev/src/win/presentation/Release
dev/src/win/presentation/UsrAdmin.dir
dev/src/win/server/Debug
dev/src/win/server/Release
dev/src/win/server/libserver.dir
dev/src/win/UADMLoginTester/Debug
dev/src/win/UADMLoginTester/Release
dev/src/win/UADMLoginTester/Debug32
dev/src/win/UADMLoginTester/Release32
dev/src/win/UADMLoginTester/UADMLoginTester.dir
/dev/src/win/libappuadm/2019/Debug
dev/src/unix/exportrights/*.csv
dev/src/unix/exportrights/*.xlsx
/dev/src/wincs/.vs
/dev/src/wincs/*/.vs
/dev/src/wincs/*/bin
/dev/src/wincs/*/obj
/dev/src/wincs/packages
/dev/src/wincs/package
/dev/src/wincs/UadmCommon/package
/dev/src/wincs/UadmWebLoginService/App_Data
/dev/src/wincs/Tools/nuget.exe
