/dev/ext
/dev/ext/*
/dev/src/**/Debug
/dev/src/**/Release
/dev/src/*.opensdf
/dev/src/*.sdf
/dev/src/ipch/*
/dev/src/**/*.vcxproj.user
/dev/src/**/GeneratedFiles
/dev/src/*.suo
/dev/src/.vs
/dev/src/*.vc.db
/dev/src/*.vc.opendb
/dev/src/**/multilang/*.qm
/dev/src/**/build
/dev/src/libtender/gitversioninfo.h
/dev/src/libtender/gitversioninfo.cpp
/dev/src/libtender/gen-cpp
/dev/src/tenderordercreator/gen-cpp
/export
/dev/doc/codedocu
/dev/doc/doxy_warn.txt
*.tmp
/dev/src/ipch
/dev/src/tender/gitversioninfo.h
/dev/src/tender/gitversioninfo.cpp
