/dev/ext
Debug/
Release/
ipch/
/dev/src/ipch
*.qm
*.vcxproj.user
/dev/src/csc/GeneratedFiles
/dev/src/csc/*.opensdf
/dev/src/csc/*.sdf
/dev/src/csc/*.suo
/dev/src/csc/*.*suo
/dev/src/csc/*.sdf
/dev/src/csc/.vs/
*.vc.db
*.vc.vc.opendb
ipch/
*.suo
*.sdf
*.opensdf
/export
build/
doxygen_log.txt
version.tmp
/dev/src/*/gitversioninfo.cpp
/dev/src/*/gitversioninfo.h
/dev/src/libcscbatch/gen-cpp