#
/dev/docs/*
!/dev/docs/*.md
/dev/ext
/dev/src/basar/library
/dev/src/doxygen
/dev/src/sharedlib
/dev/src/pkg-install
/dev/src/pkg-export

/dev/src/**/Debug
/dev/src/**/Release
/dev/src/**/Coverage
/dev/src/**/GeneratedFiles
/dev/src/basar/**/deps
/dev/src/basar/**/debug
/dev/src/basar/**/release
/dev/src/basar/test/unit/**/deps
/dev/src/basar/test/unit/**/debug
/dev/src/basar/test/unit/**/release
/dev/src/basar/test/unit/**/basar.config.xml
/dev/src/basar/obj

/export

.vs
ipch
*.vcxproj.user
*.opendb
*.opensdf
*.suo
*.db
*.sdf
*.swp
*.pdb
